
<script type="text/javascript">
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }

</script>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
    <br>
    <br>
    <br>
    <br>
    <div class="btn-group-vertical">
    <%= link_to "My Posts", posts_path, class: 'btn' %>
    <%= link_to('Create Post',  new_post_path, class: 'btn') %>
    <%= link_to 'All Posts', all_user_post_posts_path, class: 'btn' %>
    <%= link_to('Send Invitation',  new_user_invitation_path, class: 'btn') %>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn' %>
    <%= link_to('Logout', destroy_user_session_path, class: 'btn', method: :delete) %>
    </div>
  </div>

  

  <div class="jumbotron text-center" id="main">
    <div class="openbtn1">
    <button class="openbtn" onclick="openNav()">☰ Search Here</button>
    </div>
    <h1>Join Us</h1> 
    <p>For further details please subscribe</p> 
    <form>
      <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="Email Address" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-info">Subscribe</button>
        </div>
      </div>
    </form> 
  </div>
