<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field", id="image_preview" >
    <%= form.label :attachment %>
    <%= form.file_field :attachment, :onchange => "readURL(this);" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

   <div class="field">
    <h3><b><%= form.label :Select_Status %><br /></b></h3>
    <%= form.select :status, ['public', 'private']%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>

   $(document).ready(function(){
   $('input[type="file"]').change(function(){
     var image = window.URL.createObjectURL(this.files[0]);
     $("#image_preview").css("background-image", "url(" + image + ")");
     $("#image_preview").css('height','200');
     $("#image_preview").css('width','200');
   });
});
    </script>
