<table class="table table-hover">
  <thead>
    <div class="row">
      <tr>
        <th><div class="col-xs-6">Attachment</div></th>
        <th><div class="col-xs-12">Content</div></th>
        <th><div class="col-xs-12">Status</div></th>
        <th><div class="col-xs-12">Download</div></th>
        <th><div class="col-xs-12">Edit</div></th>
        <th><div class="col-xs-12">Destroy</div></th>
        <th colspan="3"><div class="col-xs-10">Show</div></th>
      </tr>
    </div>
  </thead>
 
  <tbody>

    <%= form_tag destroy_multiple_posts_path, method: :delete do %>
    <% @posts.each do |post| %>
    <%if (current_user.role == 'admin') || (current_user.id == post.user_id) %>
      <td>
        <%= check_box_tag "post_id[]", post.id, false, class: 'selectable'%><br>
      </td>
    <%end%>
      <tr>
        <% if post.attachment_url %>
          <td>
            <%if post.user.profile_picture.url %>
              <p><%= image_tag post.user.profile_picture.url, class: "i1"%></p>
            <%else%>
              <p><%= image_tag 'anonymous_image.jpeg', class: "i1"%></p>
            <%end%>

            <strong id="action">
              <%="#{post.user.first_name} post :"%>
            </strong>
            
            <br>
            
            <%= image_tag post.attachment_url, class: "fix_image_size" %>
          </td>
        <%else%>
          <td>
            <%if post.user.profile_picture.url %>
              <p><%= image_tag post.user.profile_picture.url, class: "i1"%></p>
            <%else%>
              <p><%= image_tag 'anonymous_image.jpeg', class: "i1"%></p>
            <%end%>

            <strong id="action">
              <%="#{post.user.first_name} post :"%>
            </strong>
            
            <br>
            
            <%= image_tag 'image_not_found2.png', class: "fix_image_size" %>
          </td>
        <%end%>
        
        <td><b><%= post.content %></b></td>
        <td><b><%= post.status %></b></td>

        <% if post.attachment_url %>
          <td><%= link_to "Download" , download_file_posts_path(post),id:'action', class: 'btn btn-primary'%></td>
        <%else%>
          <td><% %></td>
        <%end%>

        <%if (user_signed_in? && (current_user.role == 'admin') || (current_user.id == post.user_id)) %>
          <td><%= link_to 'Edit', edit_post_path(post),id:'action', class: 'btn btn-primary' %></td> |
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' },id:'action', class: 'btn btn-primary' %></td>
        <%else%>
          <td><%= link_to 'Share', edit_post_path(post),id:'action', class: 'btn btn-primary' %></td>
          <td><% %></td>
        <% end %>

        <td><%= link_to 'Show', post,id:'action', class: 'btn btn-primary' %>
          
          <% if post.comments.count != 0 %>
            <span class="badge"><%= post.comments.count %> </span>
          <% end %></a><br>
        </td>
      </tr>
    <% end %>
      <br><%= submit_tag "Delete selected", :class => 'btn btn-primary btn-xs' %>
  </tbody>
    <% end %>
</table>
