<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Attachment</th>
          <th>Content</th>
          <th>Download</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <%if post.attachment.url %>
              <td><%= image_tag post.attachment.url, class: "fix_image_size" %></td>
            <% else %>
              <td><%= image_tag 'images.png', class: "fix_image_size" %></td>
            <% end %>
            <td>
              <strong><%= post.content %></strong>
            </td>
            <td><%= link_to "Download" , download_file_posts_path(post), class: 'btn btn-primary'%></td>
            <td>
              <%= link_to 'Show', post, class: 'btn btn-primary' %>
              <% if post.comments.count != 0 %>
                <span class="badge"><%= post.comments.count %> </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
</div>
