<p id="notice"><%= notice %></p>
<div class="row">

    <div class="col-sm-4">
        <%if current_user.role == 'admin'%>
          <p>
            <strong>Private Posts : </strong>
            <span class="badge" id='action'><%= @pr = Post.is_private.count %></span>
          </p>
        <%else%>
          <p>
            <strong>Private Posts : </strong>
            <span class="badge" id='action'><%= @pr = current_user.posts.is_private.count %></span>
          </p>
        <%end%>
          <p>
            <strong >Public Posts : </strong>
            <span class="badge" id='action'><%= @pb = Post.is_public.count %> </span>
          </p>
          <p>  
            <strong>All Posts : </strong>
            <span class="badge" id='action'><%= @pr+@pb %> </span>
          </p>
    </div>

    <div class="col-sm-4" align="center">
        <h1>All User Posts</h1>
        <strong class="btn dropdown-toggle" id="action">
          <%= select_tag(:all_posts_by_status, options_for_select([['Public', :public], ['Private', :private]]), :prompt => 'Select a Status')%>
        </strong>

        <%= form_tag( all_user_post_posts_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
          <%= submit_tag "Search" %>
        <% end %>
    </div>
</div>




<div class="all_posts_listing">

<%= render 'posts_by_status' %>

<%#= paginate @posts %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#all_posts_by_status").on('change', function(){
      statusValue = $(this).children("option:selected").val();
      $.ajax({
        url: "<%=  all_posts_by_status_posts_path %>", 
        method: 'GET',
        data: { status: statusValue } 
    });
  });
});
</script>