<p id="notice"><%= notice %></p>

<h1>All User Posts</h1>

<%= form_tag( all_user_post_posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>


<table class="table table-hover">
  <thead>
    <div class="row">
    <tr>
      <th><div class="col-xs-6">Attachment</div></th>
      <th><div class="col-xs-12">Content</div></th>
      <th><div class="col-xs-12">Download</div></th>
      <th colspan="3"><div class="col-xs-10">Show</div></th>
    </tr>
  </div>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.attachment.url, class: "fix_image_size" %></td>
        <td><b><%= post.content %></b></td>
        <td><%= link_to "Download" , download_file_posts_path(post), class: 'btn btn-primary'%></td>
        <td><%= link_to 'Show', post, class: 'btn btn-primary' %></td>
        <% if (current_user.role == 'admin') %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

<%= paginate @posts %>
