<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<br>
  <strong>Private Posts : </strong>
  <span class="badge" id='action'>
    <%= @pr = current_user.posts.is_private.count %>
  </span>

  <strong>Public Posts : </strong>
  <span class="badge" id='action'>
    <%= @pb = @posts.is_public.count %>
  </span>

  <strong>All Posts : </strong>
  <span class="badge" id='action'>
    <%= @pr+@pb %>
  </span>
<br><br>

<strong class="btn dropdown-toggle" id="action">
  <%= select_tag(:posts_by_status, options_for_select([['Public', :public], ['Private', :private], ['All', :all]]), :prompt => 'Select a Status') %>
</strong>

<br><br>

<%= form_tag( posts_path, :method => "get", id: "search_form", remote: true) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search" %>
<% end %>

<div class="posts_listing">

<%= render 'posts_by_status' %>

<%#= paginate @posts, outer_window: 3 %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#posts_by_status").on('change', function(){
      statusValue = $(this).children("option:selected").val();
      $.ajax({
        url: "<%=  posts_by_status_posts_path %>", 
        method: 'GET',
        data: { status: statusValue } 
      });
    });
    
    $("#search_form").keyup(function() {
     $.ajax({
        url: "<% posts_path %>",
        data: {search: $(this).serialize()}
     });
    });
  });
</script>