
<p id="notice"><%= notice %></p>
<% if current_user %><!--  This if for rating -->
<% if @post.attachment_url   %> <!-- This if for without image post -->
<p>
  <strong>Attachment:</strong>
  <div><%= image_tag @post.attachment.url, class: "fixshow_image_size" %></div>
</p>
Attachment: <%= rating_for @post, 'attachment', star: 5, enable_half: true, cancel_hint: 'Cancel this rating!' %>

<%end%>
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<br>
Content: <%= rating_for @post, "content" , star: 5, enable_half: true%><br>
<% end %>

<div>
  <%if (user_signed_in? && (current_user.role == 'admin') || (current_user.id == @post.user_id)) %>
  <td><%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %></td> |
  <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></td>
  <% end %>
  <div>
    <td><%= link_to 'Back', posts_path, class: 'btn btn-primary' %></td>
    <br><br>
    <%= social_share_button_tag(@post.attachment) %>
  </div>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>

  <h2>Comments</h2>
  <%= render @post.comments %>

  <b><%= "#{@post.count} views" %></b><br>
  <b><%= "#{@post.impressionist_count} views" %></b><br>
</div>
