
<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= image_tag @post.attachment.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if current_user %>
      Attachment: <%= rating_for @post, 'attachment', star: 5, enable_half: true %>
      <br>
      Content: <%= rating_for @post, "content" , star: 5, enable_half: true%>
    <% end %>

<%if (user_signed_in? && (current_user.role == 'admin') || (current_user.id == @post.user_id)) %>
<%= link_to 'Edit', edit_post_path(@post) %>|
<% end %>
 
<%= link_to 'Back', posts_path, class: 'btn btn-primary' %>

<%= social_share_button_tag(@post.attachment) %>
